// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$toolbar-ios-title-text-color:whitesmoke;
$toolbar-md-title-text-color:whitesmoke;
$toolbar-wp--title-text-color:whitesmoke;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  navcolor:   #d4af37
);
$action-sheet-md-background: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%);
$action-sheet-ios-background: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%);
$action-sheet-wp-background:linear-gradient(135deg, #8019C6 0%,#2F93CC 100%);
$action-sheet-ios-button-text-color:whitesmoke; /// action sheet color
$action-sheet-md-button-text-color:whitesmoke;
$action-sheet-wp-button-text-color:whitesmoke;
$picker-md-option-selected-color:whitesmoke;
$picker-ios-option-selected-color:whitesmoke;
$picker-wp-option-selected-color:whitesmoke;
$action-sheet-ios-text-align:center;
$action-sheet-md-text-align:center;
$action-sheet-wp-text-align:center;
$action-sheet-ios-title-color:Whitesmoke;
$action-sheet-md-title-color:Whitesmoke;
$action-sheet-wp-title-color:Whitesmoke;

$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
    warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
    hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)
), $gradients);




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here





// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
